@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    width: 100%;
    height: 100%;
}


@layer base {
    html {
      scroll-behavior: smooth;
    }
    ::-webkit-scrollbar-thumb{
    @apply bg-transparent shadow-sm
    }
    ::-webkit-scrollbar{
    @apply w-3 bg-transparent
    }
    ::-webkit-scrollbar-thumb{
    @apply rounded-none bg-brand-secondblue 
    }
}

  .text-animation {
    display: inline;
    border-right: 2px white solid;
    animation: typebar 0.s steps(40) infinite;
  }
  @keyframes typebar {
    from { 
      border-right: 20px white solid;
    }
    to { 
      border-right: 20px transparent solid;
    }
  }
 .scrolled {
    @apply bg-brand-secondblue/30
  }


